@import '@variables';

.task-item {
  cursor: pointer;
  border: 1px solid $grey-color;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  width: 100%;
  margin-bottom: 10px;
}
.task-item.checked {
  background: $green-color;
  text-decoration: line-through;
  text-decoration-color: $error-color;
}