@import '@variables';
.filter-bar {
  padding: 10px 0;
  display: flex;
  gap: 5px;
  & label {
    padding: 10px;
    background: $secondary-color;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 5px;
    display: block;
    color: #fff;
    font-size: 14px;
  }
  & input[type="radio"] {
    display: none;
  }
  & input:checked + label {
    background: $primary-color;
  }
}
