:root {
  --primary-color: #6C22A6;
  --secondary-color: #4285f4;
  --background-color: #f2f2f2;
  --text-color: #000000;
  --border-color: #f1eded;
  --green-color: #9ef89e;
  --error-color: red;
}

body {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul, li, input {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.header {
  background: var(--primary-color);
  padding: 50px 0;
  font-size: 20px;
  color: #fff;
}

.taskboard {
  margin-top: 50px;
}

.task-list {
  margin-top: 20px;
}

.task-item {
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  width: 100%;
  margin-bottom: 10px;
}
.task-item.checked {
  background: var(--green-color);
  text-decoration: line-through;
  text-decoration-color: var(--error-color);
}

.no-tasks {
  margin-top: 50px;
  text-align: center;
}

.no-tasks img {
  width: 400px;
  max-width: 100%;
}

input[type="text"] {
  font-family: Roboto, sans-serif;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid var(--secondary-color);
  background-color: var(--background-color);
  color: var(--text-color);
}

input[type="text"]:focus, input[type="text"]:hover {
  border: none;
  border-bottom: 2px solid var(--primary-color);
  outline: none;
}